body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
   width:65vw;
   height:65vh;
   background-image:linear-gradient(to bottom,white,rgb(128, 128, 154),rgb(109, 109, 156),rgb(83, 83, 140));
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 15vh;
}
.form-field{
    width:45vw;
    height:50vh;
    
}
.field{
    margin-top: 3vh;
    width:42vw;
    height:40vh;
    margin-left:-1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 25px;
    border-radius: 15px;
}
#login{
    width:5vw;
    margin-left: -5vw;
    font-weight: bolder;
    font-display: black;
}
#signup{
    margin-left: 10vw;
    margin-top: -3vh;
    width:5vw;
    font-weight: bolder;
}
#username{
    width:15vw;
    height:3vh;
    border-radius: 10px;
    margin-top: 2vh;
}
#password{
    width:15vw;
    height:3vh;
    border-radius: 10px;
    margin-top: 2vh;
}
.title{
    margin-top: -58vh;
    text-align: justify;
    
}
#login:active{
    scale:0.8;
}
#signup:active{
    scale:0.8;
}
#login #signup:hover{
    transition: 0.5s top;
}