<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="page.css">
</head>

<body>
    <div class="container">
        <div class="screen" id="screen-id"></div>

        <div class="functions">
            <button  class="btns" id="row1">AC</button>
            <button  class="btns" id="row1">X</button>
            <button  class="btns" id="row1">+/-</button>
            <button  class="btns" id="row1">/</button>
            <br><br>
            <button  class="btns" id="row2">7</button>
            <button  class="btns" id="row2" >8</button>
            <button  class="btns" id="row2" >9</button>
            <button  class="btns" id="row1" >*</button>
            <br><br>
            <button  class="btns" id="row3" >4</button>
            <button  class="btns" id="row3" >5</button>
            <button  class="btns" id="row3" >6</button>
            <button  class="btns" id="row1" >-</button>
            <br><br>
            <button  class="btns" id="row4" >1</button>
            <button  class="btns" id="row4" >2</button>
            <button  class="btns" id="row4">3</button>
            <button  class="btns" id="row1">+</button>
            <br><br>
            <button  class="btns" id="row5">%</button>
            <button  class="btns" id="row5">0</button>
            <button  class="btns" id="row5">.</button>
            <button  class="btns" id="equal">=</button>
        </div>
    </div>
    <script src="./page.js"></script>
</body>

</html>