<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="page.css">
</head>

<body>
    <div class="container">
        <div class="screen">
            <input type="text"id="screenid">
        </div>

        <div class="functions">
            <button  class="btns" id="row1" id="ac">AC</button>
            <button  class="btns" id="row1"  id="clear">X</button>
            <button  class="btns" id="row1" id="plusorminus">+/-</button>
            <button  class="btns" id="row1" id="oper" value="/">/</button>
            <br><br>
            <button  class="btns" id="row2" id="num" value="7">7</button>
            <button  class="btns" id="row2" id="num" value="8">8</button>
            <button  class="btns" id="row2" id="num" value="9">9</button>
            <button  class="btns" id="row1" id="oper" value="*">*</button>
            <br><br>
            <button  class="btns" id="row3" id="num" value="4">4</button>
            <button  class="btns" id="row3" id="num" value="5">5</button>
            <button  class="btns" id="row3" id="num" value="6">6</button>
            <button  class="btns" id="row1" id="oper" value="-">-</button>
            <br><br>
            <button  class="btns" id="row4" id="num" value="1">1</button>
            <button  class="btns" id="row4" id="num" value="2">2</button>
            <button  class="btns" id="row4" id="num" value="3">3</button>
            <button  class="btns" id="row1" id="oper" value="+">+</button>
            <br><br>
            <button  class="btns" id="row5" id="oper" value="%">%</button>
            <button  class="btns" id="row5" id="num" value="0">0</button>
            <button  class="btns" id="row5" id="dec">.</button>
            <button  class="btns" id="equal">=</button>
        </div>
    </div>
    <script src="page.js"></script>
</body>

</html>