{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign UP</title>
    <link rel="stylesheet" href="{%static '../static/css/signup.css' %}">
</head>
<body>
    <h1 class="title">
        CREATE YOUR ACCOUNT
    </h1>
    <p id="para">Enter your credentials to get signed up</p>
    <hr id="line">
    <div class="container">
        
        <form method="post" >
            {%csrf_token%}
            <label for="firstname" class="divs">FIRSTNAME: </label>
            <input type="text" id="firstname" name="fname" class="fields">
            <br><br><br>
            <label for="lastname" class="divs">LASTNAME: </label>
            <input type="text" id="lastname" name="lname" class="fields" >
            <br><br><br>
            <label for="email" class="divs">EMAIL: </label>
            <input type="text" id="email" name="emailid" class="fields" >
            <br><br><br>
            <label for="password" class="divs">PASSWORD: </label>
            <input type="password" id="password1" name="pass1" class="fields">
            <br><br><br>
            <label for="verifypassword" class="divs">VERIFY PASSWORD: </label>
            <input type="password" id="password2" name="pass2" class="fields" >
            <br><br><br>
            <button id="btn">Signup</button>
            <p style="color:white;margin-left:18vw; margin-top:-3vh;">Already have a account</p><a href="login/" style="color:white;margin-left:20vw;"> LOGIN</a>
        </form>
        <br><br>
        <div class="error">
            <br><br>
            {% for message in messages %}
            <h3 style="color:red" id="error">{{message}}</h3>
            {% endfor %}
        </div>
    </div>
   
</body>
</html>